/* write your code in the main style section */
/* don't change the other code because your version will not be accepted */

:root {
  --main-color: #864d27;
  --broun-color: #DE7230;
  --orange-color: #F5C85F;
  --yellow-color: #E6E392;
  --gray-color: #F6F9FC;
  --dark-color: #05030F;
  --white-color: #fff;
  --border-radius: 31px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
}

body {
  width: 100vw;
  height: 100vh;
}

/* start page loader style */

.page-loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  border: 8px solid var(--yellow-color);
  border-top: 8px solid var(--main-color);
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

/* end page loader style */


/* start nav style */

nav {
  position: fixed;
  top: 0;
  left: 15rem;
  right: 0;
  background: linear-gradient(270deg, #864D27 60.5%, rgba(134, 77, 39, 0) 205.23%);
}

.nav--button {
  font-size: 1.5rem;
  color: var(--orange-color);
  float: right;
  transition: .5s;
}

.nav--button:hover {
  color: var(--dark-color);
}

/* end navbar style */

/* start sidebar style */

.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 15rem;
  box-shadow: 0px 4px 4px 5px rgba(0, 0, 0, 0.05);
}

.logo {
  width: 10rem;
  display: block;
  margin: auto;
}

.section-buttons {
  list-style: none;
  margin: 0;
  padding: 0;
}

.section-buttons li {
  border-radius: 1rem;
  margin: .5rem;
  background-color: var(--gray-color);
  transition: .5s;
}

.section-buttons li:hover,
.section-buttons li.active {
  background-color: var(--yellow-color);
}

.section-buttons a {
  display: block;
  padding: 20px;
  color: var(--main-color);
  text-decoration: none;
  font-weight: bold;
  font-size: .8rem;
}

/* end sidebar style */

/* start main style */

main {
  position: absolute;
  top: 4.5rem;
  left: 15rem;
  right: 0;
  bottom: 0;
}
/* --------- write your code here --------- */

.form-popup {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #05030f96;
  top: 0;
  left: 0;
  z-index: 2;
}

.hidden {
  display: none !important;
}

form {
  background-color: var(--yellow-color);
  border: 2px solid var(--main-color);
  border-radius: 1rem;
  position: absolute;
  width: 50rem;
  height: 36rem;
}

.close-btn {
  position: absolute;
  top: 2rem;
  right: -23rem;
  font-size: 1.5rem;
  color: var(--main-color);
  cursor: pointer;
}

.submit-btn, .submit-btn:hover {
  background-color: var(--main-color);
  color: var(--white-color);
  transition: .3s;
}

.submit-btn:hover {
  transform: translateY(-5px);
  box-shadow: 0px 4px 4px 5px rgba(0, 0, 0, 0.1);
}

.table {
    margin: 0 auto;
    width: 80%;
}

.add-btn {
  border: 0;
  position: absolute;
  top: 20%;
  right: 10%;
  background-color: var(--white-color);
  color:var(--main-color);
  font-size: 1.5rem;
}

.edit-btn, .delete-btn {
  border: 0;
  background-color: var(--white-color);
  color:var(--main-color);
  cursor: pointer;
  z-index: 2;}

.cap{color: #05030F;
font-size: 1.3rem;
font-style: oblique;
font-family: Georgia, 'Times New Roman', Times, serif;}
/* end main style */