/* write your code in the main style section */
/* don't change the other code because your version will not be accepted */

:root {
  --main-color: #864d27;
  --broun-color: #DE7230;
  --orange-color: #F5C85F;
  --yellow-color: #E6E392;
  --gray-color: #F6F9FC;
  --dark-color: #05030F;
  --white-color: #fff;
  --border-radius: 31px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
}

body {
  width: 100vw;
  height: 100vh;
}

/* start page loader style */

.page-loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  border: 8px solid var(--yellow-color);
  border-top: 8px solid var(--main-color);
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

/* end page loader style */

/* start nav style */

nav {
  position: fixed;
  top: 0;
  left: 15rem;
  right: 0;
  background: linear-gradient(270deg, #864D27 60.5%, rgba(134, 77, 39, 0) 205.23%);
}

.nav--button {
  font-size: 1.5rem;
  color: var(--orange-color);
  float: right;
  transition: .5s;
}

.nav--button:hover {
  color: var(--dark-color);
}

/* end navbar style */

/* start sidebar style */

.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 15rem;
  box-shadow: 0px 4px 4px 5px rgba(0, 0, 0, 0.05);
}

.logo {
  width: 10rem;
  display: block;
  margin: auto;
}

.section-buttons {
  list-style: none;
  margin: 0;
  padding: 0;
}

.section-buttons li {
  border-radius: 1rem;
  margin: .5rem;
  background-color: var(--gray-color);
  transition: .5s;
}

.section-buttons li:hover,
.section-buttons li.active {
  background-color: var(--yellow-color);
}

.section-buttons a {
  display: block;
  padding: 20px;
  color: var(--main-color);
  text-decoration: none;
  font-weight: bold;
  font-size: .8rem;
}

/* end sidebar style */

/* start main style */

main {
  position: absolute;
  top: 4.5rem;
  left: 15rem;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
}
/* --------- write your code here --------- */

.my-grid {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(6, 1fr);
} 

.home-info {
  background-color: var(--yellow-color);
  border: 2px solid var(--main-color);
  border-radius: 1rem;
  grid-column: span 2;
  text-align: center;
}

.home-info .number {
  font-size: 2rem;
  font-weight: bold;
}

.center-grid-1 {
  grid-column-start: 2;
  grid-column-end: span 2;
}

.center-grid-2 {
  grid-column-start: 4;
  grid-column-end: span 2;
}

.disabled {
  background-color: #eee !important;
}

.disabled > * {
  color: #aaa !important;
  cursor: not-allowed !important;
}
/* end main style */